* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: rgb(255, 255, 255);
  padding: none;
  margin: none;
}

#wrapper{ 
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  background-color: #ccccff;
  border: solid 1px #ccccff;
}

@media only screen and (min-width: 1000px) {
  #wrapper {
    width: 33%;
  }
}

#history {
  background-color: white;
  /* height: 30%; */
  border: solid 1px #ccccff;
}

#output {
  background-color: #eeeef6;
  /* height: 30%; */
  border: solid 1px #ccccff;

}

#input-grid {
  display: grid;
  grid-template-columns: 3fr 4fr;
  background-color: white;
  /* height: 40%; */
  bottom: 0px;
}

#functionalButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#inputButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#input-grid button {
  border: solid 1px #ccccff;
  font-size: 4vh;
  color: rgb(80, 186, 252);
}

#functionalButtons > button {
  background-color: rgb(252, 252, 252);
}

#inputButtons > button {
  background-color: white;
}